/* General */

main{
	margin-top: 10px;
}

body{
	background-color:#333;
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
}

/* Header */
header {
	background-color:#333;
	padding-top: 75px;
}

.menu-bar {
	overflow: hidden;
	z-index: 1;
	background-color: rgba(19,19,19, 0.8);
	border-bottom-style: solid;
	border-bottom-color:rgb(52, 171, 180, 0.8);
	border-bottom-width: 2px;
	position: fixed;
	top: 0;
	width: 100%;
}
.menu-bar a {
	color:#fff;
	font-size: 16px;
	font-weight:500;
}
.menu-bar a:hover {
	text-decoration:none;
	color:rgb(52, 171, 180);
}
.menu-list {
	padding: 12px 0;
	margin-bottom:0;
}

.menu-list > li:first-child {
    right: 800px;
    top: 0
}

.menu-list > li:not(:last-child) {
	margin-right:40px;
}

/* Content */
.anchor { padding-top: 90px; }

.img-fluid { 
	border-radius: 50%;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
	filter: grayscale(100%);
}

.img-fluid:hover{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
	 transform:scale(1.25);
	 filter: grayscale(0) blur(1px);
}
/* Carrusel */
#carrusel-slider { 
	margin-bottom: 50px;
}

.carousel-indicators{
	width: 30%;
    top: 10%;
    left: 22%;
    position: absolute;
    white-space: nowrap;
}

.carousel-caption {
	background-image: -webkit-gradient(
		linear, left top, left bottom, from(rgba(0, 0, 0, 0)),
		to(rgba(0, 0, 0, 0.8)), color-stop(.3,#000000)
	  );
	  
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	padding:  0 0 10px 25px;
	width: 50%;
	color: #fff;
	font-size: 2em;
	text-align: center;
	min-width: 100%;
	width: 100%;
	
  }

/* Info Content */
h3{
	border-bottom: 1px solid;
	padding-bottom:10px;
	margin-bottom: 15px;
	color:rgb(52, 171, 180);
}

/* Icons inside h3 */
h3 i{
	color:rgb(52, 171, 180);
}
p {
	font-size:16px;
}

/*Helpers*/
.mar-top-80{
	margin-top:60px;
}

/* Footer */
